* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: system-ui;
  background: #F9FAFB;
}

.phone {
  width: min(420px, 100vw);
  height: min(820px, 100vh);
  margin: auto;
  background: #111;
  border-radius: 28px;
  padding: 10px;
}

.app {
  height: 100%;
  background: #f6f6f6;
  border-radius: 22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 90px;
}

section {
  display: none;
}

section.active {
  display: block;
}

:root {
  --main-font: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('Fonts/Poppins-Bold.ttf') format('truetype');
}
